
:root {
    --normal-text-size: 1.5rem;
    --border-radius: 0.4rem;
}

body {
    margin: 0;
    background-color: #1c1c1c;
    color: #D5D4D8;
    font-family: sans-serif;
    font-weight: 550;
}

.container {
    background-color: #1f2937;
    max-width: 47rem;
    padding: 0 2rem;
    min-height: 60rem;
    margin: 3rem auto;

    display: flex;
}

.content {
    margin: 2.5rem auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
}

/* Paragraph */
p, label {
    font-size: var(--normal-text-size);
    margin: 0;
}


/* Header Design */
.header {
    margin-bottom: 3.5rem;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.title {
    font-weight: 800;
    margin-bottom: -1.4rem;
}

.title-cta {
    color: #4ADF86;
}

.header p {
    margin-top: 2rem;
    color: #D5D4D8;
    font-weight: 200;
    font-size: 1.6rem;
}


/* Button Design */
.btn {
    padding: 0.8rem 1rem;
    max-width: 17rem;
    border-radius: var(--border-radius);
    border: none;

    color: white;
    font-size: 1.5rem;
}
.btn:hover {
    cursor: pointer;
}

.btn-cta {
    background-color: #10B981;
}
.btn-cta:hover {
    background-color: #099466;
}
.btn-cta:active {
    background-color: #4FD5A9;
}

/* Horizontal Line */
hr {
    color: #2F3E53;
    border: solid 0.1rem;   
    margin: 3.4rem 0; 
}

/* User input */
#user-input-form {
    display: flex;
    flex-direction: column;
}

#pass-len {
    max-width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.sub-text li {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
}

.check-boxes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    margin-bottom: 4rem;
}

.box-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 9rem;
}

.box-section input{
    width: 1.5rem;
    height: 1.5rem;
}

/* Password Slot Design */
.password-slots {
    margin-top: 0;
    display: flex;
    justify-content: space-between;

    overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
}

.pass-slot {
    background-color: #273549;
    color: #55F991;
    flex: 1; /* Each password slot will take equal space */
    min-height: 3rem;
}
.pass-slot:hover {
    background-color: #1A2D47;
}
.pass-slot:active {
    background-color: #3B495C;
}

#pass-status {
    color: lightgray;
}

/* Background Mode Style */
.background-mode {
    display: flex;
}

.bg-btn {
    background-color: lightgray;
    margin-left: auto;
    border: solid black 0.1rem;
    border-radius: var(--border-radius);
    font-size: var(--normal-text-size);
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 550;
}
.bg-btn:hover {
    cursor: pointer;
    background-color: lightgreen;
}
.bg-btn:active {
    background-color: white;
}

/* Password Status */
#pass-status {
    margin-top: 2rem;
    color: aqua;

}

.status-noti {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* Light Mode */
.container.light {
    background-color: #ECFDF5;
}
.container.light .title { 
    color: #2B283A; 
}
.container.light .title-cta {
    color: #10B981; 
}
.container.light .header p ,.container.light label, .container.light .sub-text li , .container.light #pass-status, .container.light #copy-status{ 
    color: darkslategray;
}
.container.light hr { 
    border-color: #D5D4D8; 
}
.container.light #pass-status {
    color: #10b981;
}

/* Responsive Designs */

/* Laptop Screens */
@media(max-width: 1000px) {
    .container {
        width: 40rem;
        padding: 0 2rem;
    }
}


/* Tablet Screens */
@media(max-width: 768px) {
    :root {
        --normal-text-size: 1.2rem;
        --border-radius: 0.3rem;
    }

    .container {
        max-width: 28rem;
        min-height: 18rem;
        margin: 2rem auto;
        padding: 0 1rem;

    }

    .content {
        margin: 2rem auto;
        width: 30rem;
    }

    /* Background Mode Style */
    .bg-btn {
        margin-left: auto;
        margin-bottom: 0.7rem;
        border: solid black 0.1rem;
        padding: 0.4rem 0.9rem;
        font-size: 0.9rem;
    }

    /* Paragraph */

    /* Header Design */
    .header {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 2.3rem;
    }

    .title {
        margin-bottom: -1.2rem;
    }

    .header p {
        margin-top: 1.7rem;
        color: #D5D4D8;
        font-weight: 170;
        font-size: 1.2rem;
    }

    /* Button Design */
    .btn {
        padding: 0.6rem 1rem;
        max-width: 14rem;
        font-size: 1.2rem;
    }

    /* Horizontal Line */
    hr {  
        margin: 2rem 0; 
    }

    /* User input */
    #pass-len {
        max-width: 6.5rem;
        height: 1.7rem;
        margin-top: 1.1rem;
        margin-bottom: 2.2rem;
    }

    .sub-text {
        font-size: 1rem;
    }

    .check-boxes-container {
        flex-direction: row;
        gap: 6rem ;
        margin-bottom: 2.1rem;
    }

    .box-section {
        max-width: 9rem;
    }

    .box-section input{
        width: 1.6rem;
        height: 1.6rem;
    }

    /* Password Slot Design */
    .password-slots {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
    }

    .pass-slot {
        min-height: 3rem;
        max-width: none; /* Removes the max-width from the button styling */
    }
}


/* Small Tablet Screens */
@media(max-width: 624px) {
    :root {
        --normal-text-size: 1rem;
        --border-radius: 0.3rem;
    }

    .container {
        max-width: 24rem;
        min-height: 18rem;
        margin: 1.2rem auto;
        padding: 0 1rem;

    }

    .content {
        margin: 2rem auto;
        width: 23rem;
    }

    /* Background Mode Style */
    .bg-btn {
        margin-left: auto;
        margin-bottom: 0.7rem;
        border: solid black 0.1rem;
        padding: 0.4rem 0.7rem;
        font-size: 0.8rem;
    }

    /* Paragraph */

    /* Header Design */
    .header {
        margin-bottom: 1.4rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .title {
        margin-bottom: -1.1rem;
    }

    .header p {
        margin-top: 1.4rem;
        font-weight: 170;
        font-size: 1.1rem;
    }

    /* Button Design */
    .btn {
        padding: 0.6rem 0.8rem;
        max-width: 12rem;
        font-size: 1rem;
    }

    /* Horizontal Line */
    hr {  
        margin: 1.4rem 0; 
    }

    /* User input */
    #pass-len {
        max-width: 5.5rem;
        height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .sub-text {
        font-size: 0.85rem;
    }

    .check-boxes-container {
        flex-direction: row;
        gap: 4rem ;
        margin-bottom: 2rem;
    }

    .box-section {
        max-width: 8rem;
    }

    .box-section input{
        width: 1.5rem;
        height: 1.5rem;
    }

    /* Password Slot Design */
    .password-slots {
        flex-direction: column;
        gap: 1rem;
        overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
    }

    .pass-slot {
        min-height: 2.5rem;
        max-width: none; /* Removes the max-width from the button styling */
    }
}

/* Large Mobile Screens */
@media(max-width: 480px) {
    :root {
        --normal-text-size: 1.2rem;
        --border-radius: 0.3rem;
    }

    .container {
        width: 21rem;
        min-height: 18rem;
        margin: 2rem auto;
        padding: 0 1rem;

    }

    .content {
        margin: 2rem auto;
        width: 20rem;
    }

    /* Background Mode Style */
    .bg-btn {
        margin-left: auto;
        margin-bottom: 0.7rem;
        border: solid black 0.1rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
    }

    /* Paragraph */

    /* Header Design */
    .header {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .title {
        margin-bottom: -0.9rem;
    }

    .header p {
        margin-top: 1.5rem;
        color: #D5D4D8;
        font-weight: 170;
        font-size: 1.2rem;
    }

    /* Button Design */
    .btn {
        padding: 0.4rem 0.9rem;
        max-width: 13rem;
        font-size: 1rem;
    }

    /* Horizontal Line */
    hr {  
        margin: 2rem 0; 
    }

    /* User input */
    #pass-len {
        max-width: 6rem;
        height: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .sub-text {
        font-size: 0.8rem;
        font-style: italic;
    }

    .check-boxes-container {
        flex-direction: row;
        gap: 5rem ;
        margin-bottom: 2rem;
    }

    .box-section {
        max-width: 8rem;
    }

    .box-section input{
        width: 1.4rem;
        height: 1.4rem;
    }

    /* Password Slot Design */
    .password-slots {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
    }

    .pass-slot {
        min-height: 3rem;
        max-width: none; /* Removes the max-width from the button styling */
    }

}

/* Small Mobile Screens */
@media(max-width: 400px) {
    :root {
        --normal-text-size: 1rem;
        --border-radius: 0.2rem;
    }

    .container {
        width: 18rem;
        padding: 0 1rem;
        min-height: 28rem;
        margin: 1rem auto;
    }

    .content {
        margin: 1rem auto;
        width: 18rem;
        padding-bottom: 1.5rem;
    }

    /* Background Mode Style */
    .bg-btn {
        margin-left: auto;
        margin-bottom: 0.4rem;
        border: solid black 0.1rem;
        padding: 0.3rem 0.5rem;
        font-size: 0.65rem;
    }

    /* Paragraph */

    /* Header Design */
    .header {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.55rem;
    }

    .title {
        margin-bottom: -0.6rem;
    }

    .header p {
        margin-top: 1rem;
        font-weight: 170;
        font-size: 1rem;
    }

    /* Button Design */
    .btn {
        padding: 0.3rem 0.3rem;
        max-width: 10rem;
        font-size: 0.8rem;
    }

    /* Horizontal Line */
    hr {  
        margin: 1.5rem 0; 
    }

    /* User input */
    #pass-len {
        max-width: 4rem;
        height: 1.6rem;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }

    .sub-text {
        font-size: 0.7rem;
    }

    .check-boxes-container {
        flex-direction: row;
        gap: 2rem ;
        margin-bottom: 1.7rem;
    }

    .box-section {
        max-width: 8rem;
    }

    .box-section input{
        width: 1.2rem;
        height: 1.2rem;
    }

    /* Password Slot Design */
    .password-slots {
        flex-direction: column;
        gap:0.8rem;
        overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
    }

    .pass-slot {
        min-height: 2.5rem;
        max-width: none; /* Removes the max-width from the button styling */
    }

}