:root {
    --normal-text-size: 1.5rem;
    --border-radius: 0.4rem;
}

body {
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    font-family: sans-serif;
}

/* 
<div class="container">
            <div class="content">
                <div class="background-mode">
                    <button class="bg-btn" onclick="changeBackgroundMode()">Change Background</button>
                </div>
                <div class="header">
                    <h1 class="title">Generate a </h1>
                    <h1 class="title title-cta">random password</h1></h1>

                    <p>Never use an insecure password again.</p>
                </div>

                <button class="btn btn-cta">Generate passwords</button>
                
                <hr>

                <div class="password-slots">
                    <button class="pass-slot btn">placeholder 2000</button>
                    <button class="pass-slot btn">placeholder 2000</button>
*/

.container {
    background-color: #1f2937;
    width: 50rem;
    min-height: 50rem;
    margin: 3rem auto;

    display: flex;
}

.content {
    margin: 8rem auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
}

/* Paragraph */
p {
    font-size: var(--normal-text-size);
}

/* Header Design */
.header {
    margin-bottom: 3.5rem;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.title {
    font-weight: 800;
    margin-bottom: -1.4rem;
}

.title-cta {
    color: #4ADF86;
}

.header p {
    margin-top: 2rem;
    color: #D5D4D8;
    font-weight: 200;
    font-size: 1.6rem;
}


/* Button Design */
.btn {
    padding: 0.8rem 1rem;
    max-width: 17rem;
    border-radius: var(--border-radius);
    border: none;

    color: white;
    font-size: 1.5rem;
}
.btn:hover {
    cursor: pointer;
}

.btn-cta {
    background-color: #10B981;
}
.btn-cta:hover {
    background-color: #099466;
}
.btn-cta:active {
    background-color: #4FD5A9;
}

/* Horizontal Line */
hr {
    color: #2F3E53;
    border: solid 0.1rem;   
    margin: 3.4rem 0; 
}

/* User input */
#user-input-form {
    display: flex;
    flex-direction: column;
}

#pass-len {
    max-width: 8rem;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Password Slot Design */
.password-slots {
    margin-top: 0;
    display: flex;
    justify-content: space-between;

    overflow-wrap: anywhere; /* Prevents long text from leaking out of container. Container will grow verrtically */
}

.pass-slot {
    background-color: #273549;
    color: #55F991;
    flex: 1; /* Each password slot will take equal space */
    min-height: 3rem;
}
.pass-slot:hover {
    background-color: #1A2D47;
}
.pass-slot:active {
    background-color: #3B495C;
}

/* Background Mode Style */
.background-mode {
    display: flex;
}

.bg-btn {
    background-color: gray;
    margin-left: auto;
    border: solid black 0.1rem;
    border-radius: var(--border-radius);
    font-size: var(--normal-text-size);
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 550;
}
.bg-btn:hover {
    cursor: pointer;
    background-color: lightgray;
}
.bg-btn:active {
    background-color: white;
}

/* Light Mode */
.container.light {
    background-color: #ECFDF5;
}
.container.light .title { 
    color: #2B283A; 
}
.container.light .title-cta {
    color: #10B981; 
}
.container.light .header p { 
    color: #6B7280;
}
.container.light hr { 
    border-color: #D5D4D8; 
}